DATABASE_URL=
JWT_SECRET=
PORT=
CORS_ORIGIN=
CORS_ORIGINS=
FRONTEND_URL=
GOOGLE_SHEETS_CLIENT_EMAIL=
GOOGLE_SHEETS_PRIVATE_KEY=
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_ATHLETES_RANGE=Respostas ao formulário 1!A:Z
GOOGLE_SHEETS_APPLICATIONS_SPREADSHEET_ID=
GOOGLE_SHEETS_APPLICATIONS_RANGE=Respostas ao formulário 1!A:Z
